.catalog {
	/* .catalog__list */
	overflow: hidden;
	padding-bottom: 20px;

	@media (min-width: 768px) {
		padding-bottom: 32px;
	}

	@media (min-width: 1440px) {
		padding-bottom: 40px;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	/* .catalog__link */

	&__link {
		display: block;
		background-color: #eeeff2;
		color: #969eae;
		padding: 11px 14px;
		border-radius: 32px;
		align-content: center;
		position: relative;
		&:hover {
			color: #0044f0;
		}
		&:hover::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 32px;
			border: 1px solid #0044f0;
		}
	}

	&__link-active {
		background-color: #0044f0;
		color: #ffffff;
	}
}
