.footer {
	background-color: #1c1c1c;
	color: #ffffff;
	padding: 40px 0;

	&__container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 24px;

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}
	/* .footer__logo-link */

	&__logo-link {
		display: inline-block;
		color: #0044f0;
		@media (min-width: 768px) {
			flex-grow: 1;
			flex-basis: 100%;
			justify-items: center;
		}
	}

	&__logo-icon {
		@media (min-width: 768px) {
			width: 275px;
		}
	}

	/* .footer__social */

	&__social {
	}

	/* .footer__phone */

	&__phone {
	}

	/* .footer__social-list */

	&__social-list {
	}

	/* .footer__social-item */

	&__social-item {
	}

	/* .footer__social-link */

	&__social-link {
	}

	/* .footer__developer-list */

	&__developer-list {
		color: #f1e9e4;
	}

	/* .footer__developer-item */

	&__developer-item {
	}

	/* .footer__developer-link */

	&__developer-link {
	}

	/* .footer__copyright */

	&__copyright {
	}
}
