@font-face {
	font-family: "Open Sans";
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url("./fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Inter";
	font-display: swap;
	font-weight: 400;
	font-style: normal;
	src: url("./fonts/Inter.woff2") format("woff2");
}

@font-face {
	font-family: "Inter-Black";
	font-display: swap;
	font-weight: 900;
	font-style: normal;
	src: url("./fonts/Inter-Black.woff2") format("woff2");
}
